
@model List<MyPortfolioUdemy.DAL.Entities.Portfolio>
<style>
    .masonry-wrap {
        display: flex;
        flex-wrap: wrap;
        gap: 20px; /* Elemanlar arasında boşluk bırakmak için */
    }

    .masonry__brick {
        flex: 1 1 calc(33.333% - 20px); /* 3 sütun olacak şekilde ayarla */
        box-sizing: border-box; /* Padding ve border dahil */
    }

    .item-folio {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .item-folio__thumb {
        width: 100%;
        position: relative;
    }

    .item-folio__text,
    .item-folio__caption {
        text-align: center;
    }
</style>
<
<section id="works" class="s-works target-section">

    <div class="row narrow section-intro has-bottom-sep">
        <div class="col-full">
            <h3>Portfolyo</h3>
            <h1>Son Projelerime Göz Atabilirsiniz.</h1>

            <p class="lead">Link üzerinden erişim sağlayarak mevcutta bulunan tüm projelerimi gözlemleyebilir ve katkıda bulunarak gelişimine
                yardımcı olabilirsiniz.
            </p>
        </div>
    </div>
    <div class="row masonry-wrap">
        @foreach (var item in Model)
        {
            <div class="masonry__brick">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <a href="@item.ImageUrl" class="thumb-link" data-size="1050x700">
                            <img src="@item.ImageUrl"
                             srcset="@item.ImageUrl 1x, @item.ImageUrl 2x" alt="">
                            <span class="shadow-overlay"></span>
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            @item.Title
                        </h3>
                        <p class="item-folio__cat">
                            @item.SubTitle
                        </p>
                    </div>

                    <a href="@item.Url" class="item-folio__project-link" title="Project link">
                        <i class="im im-link"></i>
                    </a>

                    <div class="item-folio__caption">
                        <p>@item.Description</p>
                    </div>

                </div> 
            </div> 
        }
    </div> 


</section> 